body {
    background: rgba(4, 255, 255, 0.3);
}

nav {
    background-color: dodgerblue;
    height: 100px;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 38px 40px;
    text-decoration: none;
    font-size: 19px;
    height: 100px;
}

nav a:hover {
    background-color: lightcyan;
    color: dodgerblue;
}

nav #logo {
    float: left;
    padding: 0;
}

nav #logo:hover {
    background-color: dodgerblue;
}

#itemContainer {
    margin-top: 100px;
}

.item {
    min-width: 300px;
    min-height: 280px;
    display: flex;
    float:left;
    width: 32.8%;
    /*box-sizing: border-box;*/
    border: 3px solid rgba(60, 179, 113, 0.5);
}

.authentication-form {
    display: inline-block;
    margin-right: 50%;
    margin-left: 50%;
    width: 100%;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}

.log-fs {
    width: 100px;
    height: 115px;
    margin: 0;
}

.log-lb {
    display: flex;
    width: 150px;
    justify-content: right;
    margin-right: 5px;
    margin-left: 5px;
}

.wrapper-div {
    height: 700px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.reg-fs {
    width: 300px;
    height: 400px;
    margin: 0;
}

.reg-lb {
    display: flex;
    width: 280px;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: 25px;
}

p {
    text-align: justify;
}

.file-input-button {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    width: 147px;
    height: 20px;
}

.file-input-button:hover {
    background-color: #f5f5f5;
}